.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root{
  text-align: center
}

#root a {
  background:blue;
  padding: 10px 20px;
  color: #fff;
  border-radius:8px;
  font-weight: bold;
  font-size: 16px;
}

#root a:hover {
  cursor: pointer;
}